[submodule "xmake-modules"]
	path = xmake-modules
	url = https://github.com/q962/xmake-modules
[submodule "scripts/create-gobject"]
	path = scripts/create-gobject
	url = https://github.com/q962/create-gobject.git
