[Desktop Entry]
Name=ClipboardServer
Name[zh_CN]=剪切板服务
Comment=Stores clipboard data. Data can be obtained through http requests
Comment[zh_CN]=存储剪切板数据。可通过 http 请求获取数据
Exec=ClipboaredServer
TryExec=ClipboaredServer
Icon=io.github.q962.ClipboardServer
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Actions=Quit;
Keywords=clipboard
Keywords[zh_CN]=clipboard;剪切板

[Desktop Action Quit]
Name=Quit
Name[zh_CN]=退出
Exec=ClipboaredServer --quit
